/*body {
  background-color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;  /*centra horizontal 
  align-items: center;     /* centra vertical 
  height: 100vh;           /* ocupa toda la pantalla 
  margin: 0;
}   */
.dark {
  background-color: black;
  color: white;
}